@media only screen and (max-width: 1200px) {

	.serviceDescription {
		padding: 30px 0;
	}
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {

}

/* Medium Devices , Desktop */
@media only screen and (max-width: 992px) {
	
	.serviceDescription {
		height: 300px;
		padding-bottom: 15px;
	}

	/* services button, h1, p align center */
	.services .mainButton {
		display: table;
		margin: 25px auto;
	}
	.serviceDescription h1, p {
		text-align: center;
	}
	.services .serviceImage img {
		display: none;
	}

	.offerDescription {
		height: 600px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 992px) {

	.navbar .container {
		position: relative;
	}

	.navbar .navbar-right {
		position: absolute;
		right: 45px;
	}

	/* navbar-nav align */
	.navbar .navbar-nav > li a {
		padding-right: 25px;
		padding-left: 25px;
	}
	.navbar .navbar-nav > li a {
		padding-right: 25px;
		padding-left: 25px;
		height: 68px;
	}
}

/* @media only screen and (min-width: 992px) {
	.navbar-nav {
		float:none;
		padding-left: 100px;
	}
	.navbar-nav > li {
		display: inline-block;
		float:none;
	}
} */

/* Small Devices And Tablets */
@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}

	.headerPhone {
		text-align: center;
	}

}

@media only screen and (max-width: 480px) {
	body {
		font-size: 10px;
	}
	.headerImageSection {
		width: 80%;
		height: 50%;
	}
}