/*########### GENERAL ###########*/

body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1,h2 {
	font-family: 'Alice', serif;
}

p {
	font-family: 'Arsenal', sans-serif;
}

/*############## HEADER SECTION ##############*/

/*======== Header Navbar ========*/

.navbar {
	background: #fff;
	border: none;
	border-radius: 0px;
	margin: 0px;
}

.navbarButton{
	background-image: url(../images/menu-icon.png)
}

.headerPhone {
	font: bold 18px 'Alice', serif;
	text-transform: uppercase;
	color: #313131;	
	line-height: 65px;
}

/*--- logo ---*/

a.navbar-brand {
	color: #313131;
	height: 68px;
	padding: 9px 15px;
	display: inline-block;
}
.logoFirstWord {
	font: 30px 'SFUITextLight', sans-serif;
}
.logoSecondWord {
	font: 30px 'SFUITextBold', sans-serif;
	padding-top: 1px;
	display: inline-block;
}

/*--- menu items ---*/

.nav > li > a {
	font: bold 14px 'Alice', serif;
	text-transform: uppercase;
	color: #313131;
	line-height: 35px;
	position: relative;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}
.nav > li > a:hover,
.nav > li > a:active {
	color: #c41654;
}
.nav > li > a:active:after,
.nav > li > a:hover:after {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 50%;
	height: 7px;
	width: 7px;
	margin-left: -5px;
	border-radius: 50%;
	background-color: #c41654;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

/* last child tip
.nav li:last-child a {
	color: red;
}*/

/*======== Header Image Section ========*/

header {
	background-image: url(../images/header-background.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
}
.headerImageSection {
	color: #ececec;
	padding-top: 190px;
}
.headerImageSection h1 {
	font-size: 50px;
	color: #ececec;
	letter-spacing: 2px;
	padding-bottom: 25px;
}
.headerImageSection h5 {
	font: 15px "SFUITextLight", sans-serif;
	color: #ececec;
	text-transform: uppercase;
}

/*############## SERVICES SECTION ##############*/

.fullWidth.container {
	width: 100%;
}

.sectionTitle {
	font: 30px 'Alice', serif;
	color: #454851;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 80px;
}

/*--- service description ---*/

.serviceDescription {
	height: 550px;
	/*border: 1px solid #444;*/
	padding: 110px 0;
}
.serviceDescription h1 {
	font: 48px 'Alice', serif;
	color: #19191a;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.serviceDescription p {
	font: 20px 'Arsenal', sans-serif;
	color: #454851;
	margin-top: 25px;
}

/*--- service image ---*/

.serviceImage{
	padding: 0;
}
.serviceImage img {
	width: 100%;
}

/*--- service button ---*/

.serviceDescription .serviceButton,
.serviceDescription .serviceButton:focus {
	font: 20px 'Arsenal', sans-serif;
	color: #c41654;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #c41654;
	border-radius: 30px;
	margin-top: 20px;
	padding: 10px 60px;
	display: inline-block;
	outline: none;
}