/*########### GENERAL ###########*/

body {
	font-size: 14px;
	/* -webkit-font-smoothing: antialiased; */
	/* -webkit-overflow-scrolling: touch; */
}

h1,h2 {
	font-family: 'Alice', serif;
}

p {
	font-family: 'Arsenal', sans-serif;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

/*--- mainButton ---*/

.mainButton,
.mainButton:focus {
	font: 1.4em 'Arsenal', sans-serif;
	color: #c41654;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 30px;
	margin-top: 20px;
	border: 1px solid #c41654;
	padding: 10px 60px;
	display: inline-block;
	outline: none;
	background: transparent;
	text-align: center;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}

.mainButton:hover {
	text-decoration: none;
	color: #fff;
	background-color: #c41654;
}

input {
	text-align: center;
}

/*############## HEADER SECTION ##############*/

.home {
	position: relative;
}

/*======== Header Navbar ========*/



.navbar {
	background: #fff;
	border: none;
	border-radius: 0px;
	margin: 0px;
	z-index: 10;
	-webkit-box-shadow: 0px 2px 5px -2px #999;
	-moz-box-shadow: 0px 2px 5px -2px #999;
	-o-box-shadow: 0px 2px 5px -2px #999;
	box-shadow: 0px 2px 5px -2px #999;
}

.navbarTransparent {
	background-color: rgba(255,255,255,.8);
}

ul.nav {
	margin-bottom: 0;
}

.nav.navbar-right {
	margin-top: 0;
}

/* --- nav button --- */
.navbar-toggle {
	margin-top: 12px;
}

.headerPhone {
	font: bold 1.3em 'Alice', serif;
	text-transform: uppercase;
	color: #313131;	
	line-height: 3.4em;
}

/*--- logo ---*/

a.navbar-brand {
	color: #313131;
	height: 100%;
	padding: 4px 15px;
	display: inline-block;
}
.logoFirstWord {
	font: 1.6em 'SFUITextLight', sans-serif;
}
.logoSecondWord {
	font: 1.6em 'SFUITextBold', sans-serif;
	margin-top: -12px;
	display: inline-block;
}

/*--- menu items ---*/

.nav > li > a {
	font: bold 1.1em 'Alice', serif;
	text-transform: uppercase;
	color: #313131;
	line-height: 35px;
	position: relative;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
	color: #c41654;
	background-color: inherit;
	outline: none;
}

.nav > li > a:focus {
	color: #313131;
	background-color: inherit;
	outline: none;
}

.nav > li > a:active:after,
.nav > li > a:hover:after {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 50%;
	height: 7px;
	width: 7px;
	margin-left: -5px;
	border-radius: 50%;
	background-color: #c41654;
}

.nav > .active > a, 
.nav > .active > a:hover,
.nav > .active > a:focus {
    color: #c41654;
} 

/*--- navbar-collapse IN ---*/

.navbar-collapse.in .nav > li > a:active:after,
.navbar-collapse.in .nav > li > a:hover:after {
	content: none;
}

/* last child tip
.nav li:last-child a {
	color: red;
}*/

/*======== Header Image Section ========*/

header {
	background-image: url('../images/headerBackground.png');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}
.headerImageSection {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 40%;
	margin: auto;
	color: #ececec;
}
.headerImageSection h1 {
	font-size: 3.5em;
	color: #ececec;
	letter-spacing: 2px;
	padding-bottom: 25px;
}
.headerImageSection h5 {
	font: 1.1em "SFUITextLight", sans-serif;
	color: #ececec;
	text-transform: uppercase;
}

/*############## SERVICES SECTION ##############*/

.fullWidth.container {
	width: 100%;
}

.sectionTitle {
	font: 2.1em 'Alice', serif;
	color: #454851;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 80px;
}

/*--- service description ---*/

.serviceDescription h1 {
	font: 3.3em 'Alice', serif;
	color: #19191a;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.serviceDescription p {
	font: 1.4em 'Arsenal', sans-serif;
	color: #454851;
	margin-top: 25px;
}

/*--- service image ---*/

.serviceImage{
	padding: 0;
}
.serviceImage img {
	max-width: 100%;
	height: 500px;
}

/* ############## OFFERS SECTION ############## */

.services .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}

.noPadding {
	padding: 0;
}

.offerDescription {
	text-shadow: 2px 2px 5px rgba(0,0,0, .8);
	padding: 0;
	letter-spacing: 1px;
}

.backgroundOverlay {
	padding: 0 15px;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
.offerDescription:hover .backgroundOverlay{
	background-color: rgba(0, 0, 0, .8);
}

.firstOfferBackground {
	background-image: url('../images/firstOffer.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.secondOfferBackground {
	background-image: url('../images/secondOffer.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.thirdOfferBackground {
	background-image: url('../images/thirdOffer.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

 /* --- offer description ---  */

.offerDescription h2 {
	font: 2em 'Alice', serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 65px;
	margin: 0;
}
.offerDescription p {
	font: 1.3em 'Arsenal', sans-serif;
	color: #ffffff;
	margin-top: 45px;
	text-align: left;
	padding: 0 12px;
}

.offerDescription p:last-of-type {
	font-size: 1.4em;
	margin-top: 130px;
	text-align: center;
}

/*--- offerButton ---*/

.offerDescription .offerButton,
.offerDescription .offerButton:focus {
	font: 1.4em 'Arsenal', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 40px;
	margin-top: 35px;
	margin-bottom: 60px;
	border: 1px solid #ffffff;
	padding: 20px 65px;
	display: inline-block;
	outline: none;
	width: 80%;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}
.offerDescription .offerButton:hover {
	background-color: #fff;
	color: #242020;
}


/* ############### CONTACTS SECTION ############### */

.contactFormWrapper p {
	font: 1.4em 'Arsenal', sans-serif;
	color: #454851;
}

/* --- input field --- */

.inputForm input:not([type="submit"]) {
	margin-top: 30px;
	border: none;
	border-bottom: 1px solid #000;
	color: #777b89;
	padding: 0 25px;
	outline: none;
}
.inputForm input:nth-child(3) {
	margin-top: 10px;
}

/* --- input button --- */

.inputForm input[type="submit"] {
	margin-top: 40px;
}


/* ############### FOOTER SECTION ############### */


.contactsInfo {
	font: 1.4em 'Arsenal', sans-serif;
	margin-top: 90px;
	margin-bottom: 70px;
	color: #454851;
}
.contactsInfo h3 {
	font: bold 1em 'Arsenal', sans-serif;
	text-transform: uppercase;
	margin-bottom: 35px;
}